@import url('https://fonts.googleapis.com/css?family=roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color: #fff;
    --lightGreen-color: #75e840;
    --green: #3B8419;
    --black: #111111;
    --grey: #292e33;
    --blue:#1b74cdcc;
    --red:#f01515fa;
    --btn-border: 2px solid #3B8419;
    --btn-border-radius: 10px;
    --background-color: linear-gradient(-35deg, #3B8419 30%, #1b74cdcc 20% , #111111 80%);
    --border: 2px solid rgba(255, 255, 255, .5);
    --border-radius: 20px;

    --hint: #FAF8F8;
    --turqoise: #17EAD9;
    --cornflower-blue: #6078EA;
    --tundora: #4B4848;
    --electric-violet: #7C26F8;
    --snappy:  cubic-bezier(0.694,  0.048, 0.335, 1.000);

}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 40%;
}

html, body {
    height: 100%;
    margin: 0;

}

body {
    background: var(--grey);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;

    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.active-link {
    color: #3B8419;
  }


section{
    padding: 2rem 2%;
    height: auto;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3rem;
    color: var(--main-color);
    background: var(--grey);
    border: var(--btn-border);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.heading {
    text-align: center;
    margin-top: 12rem;
    margin-bottom: 4rem;
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--main-color);
}

.heading span{
    color: var(--green);
    text-transform: uppercase;

}

select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--main-color);
    background: #D9D9D9;
  }

  option {
    font-size: 14px;
    color: var(--black);
  }

  option:hover {
    background-color: #f2f2f2;
  }

  option:checked {
    background-color: #007bff;
    color: #fff;
  }


  

/* =============== HEADER =============== */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    position: fixed;
    background: var(--black);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo img{
    height: 6rem;
}

.navbar a{
    margin: 0 1rem;
    font-size: 3rem;
    color: var(--main-color);
}

.navbar a:hover{
    color: var(--green);
    border-bottom: var(--btn-border);
}

.icons div,
.icons a{
    color: var(--main-color);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.icons div:hover{
    color: var(--green);
}

#menu-btn{
    display: none;
}

#close-btn{
    color: var(--main-color);
    font-size: 3rem;
    top: 11rem;
    right: 2rem;
    display: none;
}


/* =============== LOGIN =============== */



.login-register {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.hidden{
    display: none;
}

.login-register.hidden.must_login{
    display: flex;
}

.wrapper{
    top: 20rem;
    font-size: 1.5rem;
    position: fixed;
    width: 500px;
    height: 550px;
    background: #D9D9D9;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(22, 20, 20, 0.933);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;
    font-weight: 500;
    position: absolute;
    z-index: 2;
}

.wrapper.register{
    height: 650px;
}

.wrapper .form__box{
    width: 100%;
    padding: 40px;
}

.wrapper .form__box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}



.wrapper.register .form__box.login{
    transition: none;
    transform: translateX(500px);
}

.wrapper .form__box.register{
    position: absolute;
    transition: none;
    transform: translateX(-500px);
}

.wrapper.register .form__box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.form__box h2{
    font-size: 5rem;
    color: var(--black);
    text-align: center;
}

.input__box{
    position: relative;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #3B8419;
    margin: 50px 0;
    
}

.form__box form .icon{
    font-size: 2.5rem;
}

.input__box label{
    position: absolute;
    top: 25%;
    left: 4px;
    transform: translateX(1%);
    font-size: 1.5em;
    color: var(--black);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input__box input:focus~label,
.input__box input:valid~label{
    top: -1rem;
}

.input__box input{
    color: var(--black);
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem 35px 0 5px;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    text-transform: lowercase;
}

.input__box .icon{
    position: absolute;
    right: 6px;
    font-size: 2rem;
    color: var(--black);
    line-height: 57px;
}

.remember__forget{
    font-size: 2rem;
    color: var(--black);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember__forget label input{
    accent-color: var(--black);
    margin-right: 3px;
}

.remember__forget a{
    color: var(--black);
    text-decoration: none;
}

.remember__forget a:hover{
    text-decoration: underline;
}


.btn:hover{
    background: #3B8419;
}

.login__register{
    cursor: pointer;
    font-size: 2rem;
    color: var(--black);
    font-weight: 500;
    margin: -15px 0 15px;
    text-align: center;

}

.login .btn{
    width: 100%;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 2rem;
}

.register .btn{
    width: 100%;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 2rem;
}
.login__register p a{
    color: var(--black);
    text-decoration: none;
    font-weight: 600;
}

.login__register p a:hover{
    text-decoration: underline;
}

/* =============== profile =============== */

.profile{
    position: absolute;
    top: 100%;
    right: -1.7rem;
    height: calc(100vh - 9.5rem);
    width: 40rem;
    background: #D9D9D9;
    padding: 0 1.5rem;
    overflow-y: scroll;
}

.profile .container{
    margin-top: 4rem;
}

.profile .container .initial span {
    display: inline-block;
    background-color: #4e922fa5;
    border-radius: 50%;
    height: 100px; 
    width: 100px; 
    color: #ffffff;
    font-size: 6rem;
    padding: 3rem 3rem;
    text-align: center;
}
  
.profile .container .name{
    color: #000;
    margin-top: 2rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 2rem;
    border-bottom: 1px solid #676c7280;
}

.profile .container .name h4{
    color: #3E464E;
    font-size: 1.5rem;
    margin-top: 0rem;
}

  
.profile .container a{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    color: var(--black);
}

.profile .container a:hover{
    color: var(--green);
    font-size: 3.4rem;
}

  

/* =============== CART =============== */

.cart__items-container{
    position: absolute;
    top: 100%;
    right: -1.7rem;
    height: calc(100vh - 9.5rem);
    width: 40rem;
    background: #D9D9D9;
    padding: 0 1.5rem;
    overflow-y: scroll;
}

.cart__items-container .cart__title{
    font-size: 5rem;
    font-weight: bold;
    color: black;
    margin-top: 2rem;
    margin: 2rem;
}

.cart__items-container .empty__cart{
    color: var(--green);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    padding: 5rem;
    border-bottom: var(--border);
}

.cart__items-container .empty__cart .fa-shopping-cart{
    margin-bottom: 2rem;
    font-size: 5rem;
    color: #3e464e9b;
}

.cart__items-container .empty__cart.hidden{
    display: none;
}

.cart__items-container .cart__items{
    overflow-y: hidden;
}
.cart__items-container .cart__item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border-bottom: var(--border);
}

.cart__items-container .cart__item img{
    height: 7rem;
    width: 10rem;
}

.cart__items-container .cart__item .content h3{
    font-size: 2rem;
    color: #111111;
    padding-bottom: .5rem;
}

.cart__items-container .cart__item .content .quantity{
    font-size: 2rem;
    margin-top: 2rem;
}

.cart__items-container .cart__item .content .quantity .fa-trash{
    font-size: 2rem;
    margin-left: 2rem;
    color: #676c72;
}

.cart__items-container .cart__item .content .quantity .fa-trash:hover{
    font-size: 2.5rem;
    color: #3E464E;
}

.cart__items-container .cart__item .content .item__price{
    margin-left: 8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: #3B8419;
}

.cart__items-container .total{
    margin-top: 2rem;
    font-size: 3rem;
}

.cart__items-container .btn{
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    display: inline-block;
    padding: 2rem 3rem;
    font-size: 2rem;
    width: 95%;
    text-align: center;

}

/* =============== HOME SECTION =============== */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;

}

.hidden{
    display: none;
}

.home .content {
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.text-container {
    flex: 1;
    text-align: left;
    margin-left: 25rem;
}

.text-container .btn{
    font-size: 2rem;
}

.image-container {
    flex: 1;
    text-align: right;
    margin-right: 5rem;
}

.image {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    margin-top: 32px;
}

.home .text-container{
      max-width: 60rem;
}

.home .content h3{
    font-size: 3rem;
    color: var(--main-color);
    margin-top: 10rem;
    margin-bottom: 2rem;
}
.home .content h4{
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 2rem;
}

.home .content h1{
    font-size: 8rem;
    color: var(--main-color);
}

/* =============== MENU SECTION =============== */

.menu{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 3rem;
}



.menu .container .content{
    display: flex;
    flex-direction: column;
}

.menu .container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
    margin-top: 10rem;
}




.menu .container .box-container .box{
    width: 30rem;
    max-height: 35rem;
    padding: 5rem;
    text-align: center;
    border: var(--border);
    margin-top: 2rem;
}

.menu .container .box-container .box img{
    height: 10rem;
    width: 15rem;
}

.menu  .container .box-container .box h3{
    color: var(--main-color);
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .container .box-container .box .price{
    color: var(--main-color);
    font-size: 2.5rem;
    padding: .5rem 0;
}

.menu .container .box-container .box:hover{
    background: #D9D9D9;
}


.menu .container .box-container .box:hover > *{
    color: var(--black);
}

.menu .container .box-container .box:hover .btn{
    color: var(--main-color);
}

.menu .container .box-container .box .btn{
    font-size: 2rem;
}
/* =============== CART SECTION =============== */



.cart__list{
    border: 1px solid #D9D9D9;
    padding: 2rem;
    font-size: 60%;
    margin: 4rem 5%;;
    margin-bottom: 3rem;
}

.cart__list .cart__edit{
    display: flex;
    font-size: 3rem;
    padding: 2rem;
    border-bottom: 1px solid #dcd7d7;
    color: var(--main-color);
}

.cart__list .cart__edit .edit__cart{
    margin-left: auto;
    cursor: pointer;
}

.cart__list .cart__edit .edit__cart:hover{
    text-decoration: underline;
    color: #3B8419;
}



.cart__list .edit__cart.hidden{
    display: none;
}

.cart__list .cart__items-list{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    border-bottom: var(--border);
    margin: 2rem 1rem;
}

.cart__list .cart__items.hidden,
.cart__list .total-price.hidden,
.cart__list input{
    display: none;
}

.cart__list .cart__edit.hidden{
    border-bottom: none;
    
}

.cart__list .emty__cart-items{
    color: var(--green);
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
    padding: 4rem;
    border-bottom: var(--border);
}

.cart__list .emty__cart-items.hidden{
    display: none;
}

.cart__list .emty__cart-items h3{
    margin-top: 3rem;
}

.cart__list .cart__items-list{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    border-bottom: var(--border);
    margin: 2rem 1rem;
}

.cart__list .cart__items-list img{
    height: 10rem;
    width: 15rem;
    margin: 1rem 2rem 2rem 0;
}

.cart__list .cart__items-list .cart__items-details h3{
    color: var(--main-color);
    font-size: 2.5rem;
    padding-bottom: 5px;
    margin-bottom: 1rem;
}

.cart__list .cart__items-list .cart__items-details .cart__items-quantity{
    font-size: 1.5rem;
    margin-right: 2rem;
    height: 5rem;
    background: var(--grey);
    color: var(--main-color);
}

.cart__list .cart__items-list .cart__items-details .cart__items-quantity option{
    color: var(--main-color);
}

.cart__list .cart__items-list .cart__items-details a{
    color: var(--main-color);
    font-size: 2rem;
}

.cart__list .cart__items-list .cart__items-details  a:hover{
    color: var(--red);
    font-size: 2.5rem;
}

.cart__list .cart__items-list .cart__items-price{
    color: var(--main-color);
    margin-left: auto;
    font-size: 2rem;
    margin-top: 1rem;
}

.cart__list .cart__items-total-price {
    color: var(--main-color);
    font-size: 2.5rem;
    margin: 1rem 2rem 1rem 1rem;
    display: flex;
}

.cart__list .cart__items-total-price .total__price{
    font-size: 3rem;
    margin-left: auto;
}

.cart__list .cart__items-total-price.hidden{
    display: none;
}

.cart__list .btn{
    width: 100%;

}

/* =============== delivery =============== */

.address {
    border: 1px solid #D9D9D9;
    padding: 2rem;
    margin: 4rem 5%;
    font-size: 50%;
    color: var(--main-color);
    font-size: 3rem;
}

.address .delivery__edit{
    display: flex;
    font-size: 3rem;
    padding: 2rem;
    border-bottom: 1px solid #dcd7d7;
    color: var(--main-color);
}

.address .delivery__edit .edit_delivery{
    margin-left: auto;
    cursor: pointer;
}

.address .delivery__edit .edit_delivery:hover{
    text-decoration: underline;
    color: #3B8419;
}

.address .delivery__edit .edit_delivery.hidden{
    display: none;
}
.address .delivery__info .hidden{
    display: none;
}

.address .delivery__edit.hidden{
    border-bottom: none;
    
}

.address .delivery__info .customer__address,
.address .delivery__info .customer__contect{
    display: flex;
}


.address .delivery__info .customer__address .icon{
    padding: 3rem;
}

.address .delivery__info .customer__address .customer__info{
    display: flex;
    flex-direction: column;
}

.address .delivery__info .customer__address.hidden{
    display: none;
}

.address .delivery__info .customer__address .customer__info span{
    padding: 1rem;
    margin-top: 2rem;
}

.address .delivery__info  .customer__address .customer__info .flex{
    padding: 1rem 0;
}

.address .delivery__info  .customer__address .customer__info .flex .zip__code{
    margin-right: 1rem;
}

.address .delivery__info form .customer__form-info{
    display: flex;
    flex-direction: column;
}

.address .delivery__info form .customer__form-info.hidden{
    display: none;
}

.address .delivery__info form .customer__form-info{
    margin-top: 3rem;
    margin-left: 2rem;
}

.address .delivery__info form .customer__form-info span{
    margin: 2rem 0;
}

.address .delivery__info form .customer__form-info input{
    padding: 1.5rem;
    width: 50%;
}

.address .delivery__info form .customer__form-info .flex{
    display: flex;
    margin: 3rem 0;
}
.address .delivery__info form .customer__form-info .flex .zipcode,
.address .delivery__info form .customer__form-info .flex .country{
    display: flex;
    flex-direction: column;
}



.address .delivery__info form .customer__form-info .flex input{
    padding: 1.5rem;
    width: 100%;
}

.address .delivery__info form .customer__form-info .flex .country span{
    margin-left: 2rem;
}

.address .delivery__info form .customer__form-info .flex select{
    padding: 1rem;
    width: 44%;
    height: 50%;
    margin-left: 2rem;
}



.address .delivery__info .customer__info .email,
.address .delivery__info .customer__info .number{
    margin-top: 4rem;
}

.address .delivery__info .customer__contect{
    display: flex;
    flex-direction: column;
    padding: 3rem;   
}

.address .delivery__info .customer__contect.hidden{
    display: none;
}

.address .delivery__info .customer__contect .email{
    margin-bottom: 3rem;
    text-transform: none;
    
}

.address .delivery__info .customer__contect .email span,
.address .delivery__info .customer__contect .number span {
    padding: 3rem;
}

.address .delivery__info .customer__form-contact{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.address .delivery__info .customer__form-contact.hidden{
    display: none;
}

.address .delivery__info .customer__form-contact .email,
.address .delivery__info .customer__form-contact .number{
    display: flex;
    flex-direction: column;
}

.address .delivery__info .customer__form-contact .email span,
.address .delivery__info .customer__form-contact .number span{
    padding: 2rem;
}

.address .delivery__info .customer__form-contact .email input,
.address .delivery__info .customer__form-contact .number input{
    padding: 1rem;
    width: 50%;
    margin-left: 2rem;
}

.address .delivery__info .save__cancel-btn{
    margin-bottom: 3rem;
    margin-left: 10%;

}
.address .delivery__info .save__cancel-btn .btn.customer__info-save{
    width: 30%;
}

.address .delivery__info .save__cancel-btn .btn.customer__info-cancel{
    margin-left: 4rem;
    width: 30%;
}

.address .delivery__info .save__cancel-btn .btn.customer__info-cancel:hover{
    background: rgba(255, 0, 0, 0.66);
}

.address .delivery__info .save__cancel-btn.hidden{
    display: none;
}

.address .btn.delivery{
    width: 100%;

}


/* =============== payment =============== */


.payment form{
    border: 1px solid #D9D9D9;
    padding: 2rem;
    margin: 4rem 5%;
    font-size: 60%;
    color: var(--main-color);
    
}

.payment form .payment__text{
    display: flex;
    font-size: 3rem;
    padding: 2rem;
    border-bottom: 1px solid #dcd7d7;
    color: var(--main-color);
}

.payment form .payment__text.hidden{
    border-bottom: none;
}

.payment form .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 20% ;
    width: auto;
}
  
  

.payment form .row.hidden{
    display: none;
}

.payment form .payment__edit.hidden{
    border-bottom: none;
}

.payment form .col{
    flex: 1 1 250px;
    text-align: center;
}




.payment form .row .col .title{
    font-size: 2.5rem;
    color: var(--grey);
    padding-bottom: 5px; 
      
}

.payment form .row .col .inputbox{
    margin: 2rem 0; 
    text-align: left;
}

.payment form .row .col .inputbox span{
    margin-bottom: 10px;
    display: block;
    font-size: 2rem;
}


.payment form .row .col .inputbox input{
    width: 100%;
    border: 1px solid #D9D9D9;
    padding: 10px 1rem;
    font-size: 2rem;
    text-transform: none;
}

.payment form .row .col .inputbox input:focus{
    border: 1px solid var(--green);
}

.payment form .row .col .flex{
    display: flex;
    gap: 1rem;
    margin: auto;
}

.payment form .row .col .flex .inputbox{
    margin-top: 2rem;
    width: 100%;
    
}
.payment form .row .col .flex .inputbox input,
.payment form .row .col .flex .inputbox select{
    width: 100%;
}
.payment form .row .col .flex .inputbox select{
    width: 100%;
    padding: 10px 1rem;
    font-size: 2rem;
    text-transform: none;
    background: var(--main-color);
}

.payment form .row .col img{
    width: 30rem;
    margin: 2rem 0;
    
    filter: drop-shadow(0 0 2px #000);
}

.payment form .row .col .toPay,
.payment form .row .col .totalPricePay{
    font-size: 4rem;
    margin: 2rem 25%;
}

.payment form .btn{
 width: 100%;
}

.fa-exclamation-circle.hidden{
    display: none;
    margin-top: 5px;
}
.fa-exclamation-circle h4{
    margin-top: 5px;
    font-size: 2rem;
    margin-left: 3px;
}
.error-icon{
    color: rgba(232, 67, 67, 0.876);
    font-size: 1.5rem;
}


.billing form .row .col .inputbox input.error{
    border: 1px solid #c60606
}



/* =============== SWAL POPUP =============== */

.my-custom-class {
    font-size: 2rem;
}

.my-button-class {
    padding: 1rem 1rem;
    font-size: 2rem;
}
  
.swal-title {
  font-size: 3rem;
}

.swal-text {
  font-size: 3rem;
}



/* =============== account =============== */
.account {
    color: var(--main-color);
}

.account.blocked {
    display: none;
}
  
.account .container{
    margin-top: 10rem;
    margin: 0 auto;
    margin-left: 10rem;
    margin-right: 10rem;
    align-self: center;
}

.account .container .account__details,
.account .container .personal-data__details,
.account .container .address__details{
    border: var(--border);
    margin-top: 3rem;
}


.account .container .account__details .account__edit,
.account .container .personal-data__details .personal-data__edit,
.account .container .address__details .address__edit{
    display: flex;
    font-size: 3rem;
    padding: 2rem;
    border-bottom: 1px solid #746565;
}

.account .container .account__details .account__edit .edit__account,
.account .container .personal-data__details .personal-data__edit .edit_personal-data,
.account .container .address__details .address__edit .edit__address{
    margin-left: auto;
    text-decoration: underline;
    cursor: pointer;
}

.account .container .account__details .account__edit .edit__account:hover,
.account .container .personal-data__details .personal-data__edit .edit_personal-data:hover,
.account .container .address__details .address__edit .edit__address:hover{
    color: #3B8419;
}

.account .container .account__details .account__info,
.account .container .personal-data__details .personal-data__info,
.account .container .address__details .address__info{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    font-size: 2rem;
}

.account .container .personal-data__details .personal-data__info.hidden,
.account .container .address__details .address__info.hidden{
    display: none;
}

.account .container .account__details .title,
.account .container .personal-data__details .fullname,
.account .container .personal-data__details .phone__number,
.account .container .personal-data__details .street,
.account .container .address__details .city,
.account .container .address__details .country,
.account .container .address__details .zip__code{
    font-weight: bold; 
    margin-top: 3rem;    
     
}

.account .container .account__details .email{
    text-transform: none;
}

.account .container .account__details .email,
.account .container .account__details .password,
.account .container .personal-data__details .name,
.account .container .personal-data__details .number,
.account .container .personal-data__details .street__address,
.account .container .personal-data__details .nacityTownme,
.account .container .personal-data__details .zipCode {
    margin-top: 1rem;  
      
}

.account .container .account__details .pass__title,
.account .container .personal-data__details .pass__title{
    margin-top: 3rem;
}
.account .container .account__details .password,
.account .container .personal-data__details .number {
    font-size: 14px;
}


/* =============== EDIT ACCOUNT =============== */
.account .container .personal-data__details .edit__form,
.account .container .address__details .edit__form{
    margin: 2rem;
}

.account .container .personal-data__details .edit__form .hidden,
.account .container .address__details .edit__form .hidden{
    display: none;
}

.account .container .personal-data__details .edit__form div,
.account .container .address__details .edit__form div{
    font-size: 2rem;
    font-weight: bold; 
    margin-top: 2rem; 
    margin-bottom: 1rem;
}

.account .container .personal-data__details .edit__form input,
.account .container .address__details .edit__form input{
    width: 100%;
    border: 1px solid #D9D9D9;
    padding: 10px 1rem;
    font-size: 2rem;
    text-transform: none;
    
}

.account .container .personal-data__details .edit__form input:focus,
.account .container .address__details .edit__form input:focus{
    border: 1px solid var(--green);
}


.account .container .address__details .edit__form .flex{
    display: flex;
    gap: 2rem;
}

.account .container .address__details .edit__form .flex select
{
    background: var(--main-color);
    border: 1px solid #D9D9D9;
    width: 20rem;
}

.account .container .personal-data__details .edit__form .buttons,
.account .container .address__details .edit__form .buttons{
    display: flex; 
    justify-content: center; 
}

.account .container .personal-data__details .edit__form .buttons button,
.account .container .address__details .edit__form .buttons button{
    font-size: 2rem;
    margin-right: 3rem;
}

.account .container .personal-data__details .edit__form .buttons #cancel:hover,
.account .container .address__details .edit__form .buttons #cancel:hover{
    background: var(--red);
}





/* =============== ORDER SECTION =============== */

.order .container{
    border: 1px solid #D9D9D9;
    margin: 4rem 5%;;
    margin-bottom: 3rem;
}

.order .container .login__order{
    font-size: 3rem;
    text-align: center;
    padding: 3rem;
    color: var(--main-color);
}



.order .container .login__order .login__button{
    margin: 2rem;
}
.order .container .login__order .login__button:hover{
    text-decoration: underline;
    cursor: pointer;
}

.order .container .empty__order{
    font-size: 3rem;
    text-align: center;
    padding: 3rem;
    color: var(--main-color);
}



.order .container .empty__order .login__button{
    margin: 2rem;
}
.order .container .empty__order .login__button:hover{
    text-decoration: underline;
    cursor: pointer;
}



.order .container .content {
    padding: 4rem;
}

.order .container .content .order__cards{
    margin-bottom: 3rem;
    border: 1px solid #D9D9D9;
}

.order .container .content .order__list .order__cards .order{
    display: flex;
    background: #212325;
    padding: 1rem;
}

.order .container .content .order__list .order__cards .order .date,
.order .container .content .order__list .order__cards .order .order__nr,
.order .container .content .order__list .order__cards .order .quantity,
.order .container .content .order__list .order__cards .order .amount{
    margin: auto;
    text-align: center;
    color: #d9d5d5;
    font-size: 2rem;
}

.order .container .content .order__list .order__cards .order .date .title,
.order .container .content .order__list .order__cards .order .order__nr .title,
.order .container .content .order__list .order__cards .order .quantity .title,
.order .container .content .order__list .order__cards .order .amount .title{
    color: var(--main-color);
    font-size: 3rem;
    margin: .5rem;
}

.order .container .content .order__list .order__cards .order .fa-angle-down,
.order .container .content .order__list .order__cards .order .fa-angle-up{
    font-size: 4rem;
    margin: 2.5rem;
    color: var(--main-color);
    background: #6c6868;
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;
}



.order .container .content .order__list .order__cards .order__info .order__cards-info{
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d9d5d5;
}


.order .container .content .order__list .order__cards .order__info .order__cards-info .image__title{
    display: flex;
    
}

.order .container .content .order__list .order__cards .order__info .order__cards-info .image__title img{
    width: 15rem;
    margin: 2rem;
    margin-right: auto;
}

.order .container .content .order__list .order__cards .order__info .order__cards-info .image__title h3{
    font-size: 3rem;
    margin: 4rem;
    color: var(--main-color);
    margin-right: auto;
}

.order .container .content .order__list .order__cards .order__info .order__cards-info .quantity__price {
    display: flex;
    text-align: center;
}


.order .container .content .order__list .order__cards .order__info .order__cards-info .quantity__price .quantity,
.order .container .content .order__list .order__cards .order__info .order__cards-info .quantity__price .price{
    color: var(--main-color);
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: 5rem;
}

.order .container .content .order__list .order__cards .order__info .order__cards-info .quantity__price .quantity .quantity__title,
.order .container .content .order__list .order__cards .order__info .order__cards-info .quantity__price .price .price__title{
    color: var(--main-color);
    font-size: 2rem;
    margin-left: auto;
    margin-right: 5rem;
}












/* =============== SEARCH  =============== */
.menu .container .content .wrapper__search{
    margin: auto;
}
.wrapper__search{
    transform: translate(0%, 0%);
}


.wrapper__search .searchbox{
  position: relative;
}

.wrapper__search .searchbox .input{
  width: 0px;
  border: 0px;
  height: 40px;
  padding: 0px 20px;
  border-radius: 50px;
  box-shadow: 0 0 15px 1px #b6bbc074;
  outline: none;
  color: #42be11;
  font-weight: bold;
  font-size: 2rem;
  transition: all 0.5s linear;
}

.wrapper__search .searchbtn{
  position: absolute;
  top: 0;
  right: -1px;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s 0.6s linear;
}

.wrapper__search .searchbtn .fas{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #42be11;
  font-size: 22px;
  transition: all 0.5s 0.6s linear;
}

/* jquery class */
.wrapper__search .searchbtn.bg-green{
  background: #42be11;
  transition: all 0.2s linear;
}

.wrapper__search .searchbtn .fas.color-white{
  color: #fff;
  transition: all 0.2s linear;
}

.wrapper__search .searchbox .input.active-width{
  width: 300px;
} 



















/* =============== DEVICE SIZE =============== */

@media (max-width:991px){
    

    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem 5%;
    }
}


@media (max-width:991px){

    #menu-btn,
    .close-btn{
        display: inline-block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        background: #D9D9D9;
        width: 30rem;
        height: calc(40vh - 9.5rem);
    }

    .active{
        right: 0%;
    }

    .navbar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        margin-top: 3rem;
        padding: .5rem;
        font-size: 3rem;
        text-align: center;
        border-bottom: none;
    }
    .navbar a:hover{
        color: var(--green);
        border-bottom: none;
        font-size: 4rem;
        font-weight: 600;
    }

    .logo img{
        margin-left: -5rem;
    }

    .image{
        width: 100%;
    }
    .content {
        display: flex;
        flex-direction: column;
    }

    .text-container {
        margin-left: 0;
        margin-bottom: 2rem;
    }

    .image-container {
        margin-right: 0;
        margin-top: 2rem;
    }

    
}



